:root {
  --ubuntoFont: "Ubuntu", sans-serif;
  --UrbanistFont: "Urbanist", sans-serif;
  --mainColor: #73e1ff;
  --secondaryColor: #adedff;
}
html {
  scroll-behavior: smooth;
}
a {
  font-weight: 600;
}
.box {
  background: url("../images/background.png") scroll no-repeat center
    center/cover;
  font-family: var(--ubuntoFont);
}
.head {
  background-color: #3c768700;
  height: 10vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 5%;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}
header ul {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
header a {
  text-decoration: none;
  color: var(--secondaryColor);
  font-weight: 600;
}
li {
  list-style: none;
}
header button {
  background: none;
  border: none;
  color: var(--secondaryColor);
}
header .burger {
  display: none;
  cursor: pointer;
}
header .burger div {
  width: 35px;
  height: 3px;
  margin: 3px;
  padding: 2px;
  background-color: var(--mainColor);
  border-radius: 3px;
}
#home,
#about,
#skills,
#projects,
#contact {
  min-height: 100vh;
  color: #fff;
}
#home {
  display: flex;
  align-items: center;
  justify-content: left;
}
#home div div h2 {
  font-size: 46px;
  margin: 5px 0px;
}

#home div div p {
  font-size: 30px;
  letter-spacing: 20px;
  font-family: var(--UrbanistFont);
  margin: 20px 0px;
  margin-left: 20px;
}
#home div div h1 {
  font-size: 70px;
  background-color: #adedff57;
  width: fit-content;
}
.hireme {
  display: flex;
  align-items: center;
  width: 100%;
}
#home div a {
  text-decoration: none;
  color: #fff;
  border: 3px solid var(--mainColor);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px 10px;
  width: 20%;
}
#home div a:hover {
  background-color: var(--secondaryColor);
  color: black;
}
.titleColor {
  color: var(--mainColor);
  margin: 15px;
  background-color: #adedff57;
}
/*About*/
.aboutContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
#about h1,
#skills h1,
#projects h1,
#contact h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  height: 30vh;
  font-family: var(--UrbanistFont);
  letter-spacing: 30px;
  font-style: italic;
}
#about p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  width: 100%;
  padding: 0 10%;
  line-height: 2rem;
  font-style: italic;
}
#about div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#about .resumeHolder {
  width: 100%;
}
#about div a {
  text-decoration: none;
  color: #fff;
  border: 3px solid var(--mainColor);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px 10px;
  width: 40%;
}
#about div a:hover {
  background-color: var(--secondaryColor);
  color: black;
}
#skills div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#skills .skillsHolder img {
  max-width: 100px;
  min-width: 60px;
  width: 100%;
  height: auto;
}
#skills div .skillscontent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
#skills .skillsHolder {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
#skills .basics {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
#skills .skillsHolder img {
  margin: 0 20px;
}
#skills .libraries {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

#skills .skillsHolder img:hover {
  transform: scale(1.1);
  transition: 1s;
  cursor: pointer;
}
.prjcts .seeAll {
  color: #fff;
  font-family: var(--UrbanistFont);
  text-decoration: none;
  display: flex;
  align-content: center;
  justify-content: flex-end;
  font-style: italic;
  margin: 10px 0px;
  font-size: 22px;
  animation-name: show;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
@keyframes show {
  to {
    color: var(--mainColor);
  }
}
.prjcts .seeAll:hover {
  color: var(--mainColor);
}

.projectsHolder .partOne .r {
  background-color: #73e1ff;
  width: 60%;
}
.projectsHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  width: 100%;
}
.partOne {
  display: flex;
  width: 100%;
  height: 40vh;
  color: #fff;
}
.partOne .r {
  margin-right: 5px;
  width: 60%;
  position: relative;
  cursor: pointer;
}
.projectsHolder .partOne .l {
  background-color: var(--secondaryColor);
  width: 40%;
  position: relative;
  cursor: pointer;
}
.partTwo {
  display: flex;
  align-items: center;
  height: 30vh;
  background-color: var(--mainColor);
  width: 100%;
  margin: 5px 0px;
  cursor: pointer;
  position: relative;
  color: #fff;
}
.partOne .r:hover,
.partOne .l:hover,
.partTwo:hover {
  transform: scale(1.1);
  transition: 1s;
}
.partOne label,
.partTwo label {
  position: absolute;
  filter: blur(5px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
label a {
  text-decoration: none;
  color: #fff;
}
.partOne label:hover,
.partTwo label:hover {
  filter: blur(0px);
  cursor: pointer;
}
/*Conctact */

.contactform {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}
.formandimg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactform form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.contactform .form-grp {
  width: 100%;
  margin: 10px 0px;
}

.contactform .form-grp input,
.contactform .form-grp textarea {
  padding: 10px;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 2px solid var(--mainColor);
  resize: vertical;
  border-radius: 5px;
  color: #fff;
  font-weight: 550;
}
.contactform .form-grp input:focus,
.contactform .form-grp textarea:focus {
  outline: none;
}

.contactform .form-btn {
  width: 100%;
}
.contactform .formandimg {
  width: 60%;
}
.contactform .form-btn input {
  width: 100%;
  padding: 10px;
  background: none;
  border: 2px solid var(--mainColor);
  color: #fff;
  cursor: pointer;
}
.contactform .sociale {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  padding: 20px;
  border-radius: 60px 0px 60px 0px;
  margin-left: 50px;
}
.contactform .sociale img {
  width: 50px;
  margin: 10px 20px;
}
.contactform .sociale h3 {
  color: black;
  margin: 10px 0px;
}
.contactform .socialHolder {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* responsive*/
@media (max-width: 924px) {
  #about h1,
  #skills h1,
  #projects h1,
  #contact h1 {
    font-size: 30px;
    padding: 0 5%;
    letter-spacing: 10px;
  }
  #contact .contactform {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 696px) {
  .head .burger {
    display: block;
  }
  .head ul {
    position: absolute;
    top: 10vh;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
    background-color: var(--secondaryColor);
    width: 100%;
    transform: translateX(-120%);
  }
  .head ul li a {
    color: #333;
  }
  #home div div h1 {
    font-size: 50px;
  }
  #home .hireme a {
    font-size: 12px;
  }
  .contactform .formandimg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20%;
    width: 100%;
  }
  .formandimg img {
    display: none;
  }
  .contactform .sociale {
    width: 100%;
  }
  .prjcts {
    padding: 0 10%;
  }
}
@media (max-width: 578px) {
  .skillscontent {
    flex-direction: row;
  }
}
@media (max-width: 457px) {
  #home div div h1 {
    width: 70%;
    font-size: 30px;
  }
  #home .hireme a {
    padding: 10px;
  }
}
@media (max-width: 411px) {
}
