:root {
  --ubuntoFont: "Ubuntu", sans-serif;
  --UrbanistFont: "Urbanist", sans-serif;
  --mainColor: #73e1ff;
  --secondaryColor: #adedff;
}
.aboutContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

#about h1,
#skills h1,
#projects h1,
#contact h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  font-family: var(--UrbanistFont);
  letter-spacing: 30px;
  font-style: italic;
}

#about p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  width: 100%;
  padding: 0 10%;
  line-height: 2rem;
  font-style: italic;
}

#about div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#about .resumeHolder {
  width: 100%;
}

#about div a {
  text-decoration: none;
  color: #fff;
  border: 3px solid var(--mainColor);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px 10px;
  width: 40%;
}

#about div a:hover {
  background-color: var(--secondaryColor);
  color: black;
}
