:root {
  --ubuntoFont: "Ubuntu", sans-serif;
  --UrbanistFont: "Urbanist", sans-serif;
  --mainColor: #73e1ff;
  --secondaryColor: #adedff;
}
.projectsHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.projectsHolder div {
  margin: 20px;
}
