:root {
  --ubuntoFont: "Ubuntu", sans-serif;
  --UrbanistFont: "Urbanist", sans-serif;
  --mainColor: #73e1ff;
  --secondaryColor: #adedff;
}

@media (max-width: 924px) {
  #about h1,
  #skills h1,
  #projects h1,
  #contact h1 {
    font-size: 30px;
    letter-spacing: 10px;
  }

  #contact .contactform {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 696px) {
  .head .burger {
    display: block;
  }

  .head .list {
    position: absolute;
    top: 10vh;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
    background-color: #adedffa3;
    width: 100%;
  }
  #close {
    transform: translateX(100%);
    transition: 1s;
  }

  #open {
    transform: translateX(0%);
    transition: 1s;
  }

  .head ul li a {
    color: #333;
  }

  #home div div h1 {
    font-size: 50px;
  }

  .contactform .formandimg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20%;
    width: 100%;
  }

  .formandimg img {
    display: none;
  }

  .contactform .sociale {
    width: 100%;
  }

  .prjcts {
    padding: 0 10%;
  }

  .contactform .sociale {
    margin-left: 0;
  }
}

@media (max-width: 578px) {
  .skillscontent {
    flex-direction: row;
  }

  #about h1,
  #skills h1,
  #projects h1,
  #contact h1 {
    font-size: 25px;
  }
}

@media (max-width: 457px) {
  #home div div h1 {
    width: 70%;
    font-size: 30px;
  }

  #home .hireme a {
    padding: 10px;
  }
}

@media (max-width: 411px) {
  #home div div p {
    font-size: 20px;
    letter-spacing: 20px;
    font-family: var(--UrbanistFont);
    margin: 20px 0px;
    margin-left: 20px;
  }
}

@media (max-width: 375px) {
  #about h1,
  #skills h1,
  #projects h1,
  #contact h1 {
    font-size: 18px;
  }
  .hireme a {
    font-size: 10px;
  }
}

@media (max-width: 280px) {
  #home div a {
    width: 45%;
  }

  #home div div p {
    font-size: 20px;
    letter-spacing: 10px;
    font-family: var(--UrbanistFont);
    margin: 20px 0px;
    margin-left: 20px;
  }

  #about h1,
  #skills h1,
  #projects h1,
  #contact h1 {
    font-size: 8px;
  }

  #skills .skillsHolder {
    width: 60px;
    margin: 120px;
  }

  #skills div {
    margin: 0px 20px;
  }

  #skills .skillsHolder img {
    margin: 40px 0px;
  }
}
