:root {
  --ubuntoFont: "Ubuntu", sans-serif;
  --UrbanistFont: "Urbanist", sans-serif;
  --mainColor: #73e1ff;
  --secondaryColor: #adedff;
}
#skills .skillscontent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
#skills .skillsHolder {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  min-height: 70vh;
}
#skills .skillsHolder img {
  max-width: 100px;
  width: fit-content;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
#skills .skillsHolder img:hover {
  transform: scale(2.2);
  transition: 1s;
  cursor: pointer;
}
