:root {
  --ubuntoFont: "Ubuntu", sans-serif;
  --UrbanistFont: "Urbanist", sans-serif;
  --mainColor: #73e1ff;
  --secondaryColor: #adedff;
}
#skills {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0px;
}
#skills .skillsHolder {
  display: flex;
  align-items: center;
  height: 70vh;
  justify-content: space-around;
  flex-wrap: wrap;
}
#skills .skillsHolder img {
  max-width: 100px;
  width: 100%;
  height: auto;
  margin: 0 20px;
}
